<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Histórico de Conversões</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Exibe cada conversão do histórico -->
    <ion-item *ngFor="let conversion of conversions">
      <ion-label>
        <h2>{{ conversion.amount }} {{ conversion.from }} = {{ conversion.result }} {{ conversion.to }}</h2>
        <p>{{ conversion.date | date: 'short' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
